.navbar-container {
  background-color: #343a40; /* dark theme */
  color: #fff;
  border-radius: 0 0 10px 10px;
  height: max-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-firm {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f8f9fa;
}

.nav-btn {
  min-width: 100px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.nav-btn:hover {
  transform: translateY(-2px);
}
