.sidebar-container {
  background-color: #1a1743;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  min-width: 200px;
  border-radius: 10px;
  margin-top: 0.3rem;
  margin-left: 0.4rem;
}

/* Sidebar items */
.sidebar-item {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Responsive styles */
@media (max-width: 768px) {
  .sidebar-container {
    flex-direction: row;
    margin-top: 0.4rem;
    margin-left: 0rem;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0.3rem 0;
  }

  .sidebar-item {
    padding: 0.3rem 0.3rem;
    font-size: 1rem;
  }
}
